# Conexión del Rag y API del LLM
langchain==1.3.11
google-genai==2.10.0

# Dependencias para Chromadb
chromadb==1.5.9
sentence-transformers==5.14.1
tqdm==4.68.4

# Trabajar con el dataset .parquet
pandas==3.0.3
fastparquet==2026.5.0

# Dependencias para la PostgreSQL
sqlalchemy==2.0.51
psycopg2==2.9.12